/* Breadcrumb */
nav.breadcrumb {
    ul.breadcrumb {
        display: flex;
        flex-direction: wrap;
        background-color: rgb(211, 211, 211);
        list-style-type: none;
        padding: $padding;
        color: rgb(26, 120, 241);
        font-size: 1em;
        font-weight: 600;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 5px;
    }
    
    li.breadcrumb-object:after {
        content: '/';
        margin-left: 5px;
        margin-right: 5px;
        color: rgb(75, 75, 75);
    }
    
    li.active:after {
        content: "";
    }
}