/* Margin */
.mr-1 {
    margin: 1rem;

    &--left {
        margin-left: 1rem;
    }

    &--right {
        margin-right: 1rem;
    }

    &--top {
        margin-top: 1rem;
    }

    &--bottom {
        margin-bottom: 1rem;
    }
}

.mr-2 {
    margin: 2rem;

    &--left {
        margin-left: 2rem;
    }

    &--right {
        margin-right: 2rem;
    }

    &--top {
        margin-top: 2rem;
    }

    &--bottom {
        margin-bottom: 2rem;
    }
}

.mr-3 {
    margin: 3rem;

    &--left {
        margin-left: 3rem;
    }

    &--right {
        margin-right: 3rem;
    }

    &--top {
        margin-top: 3rem;
    }

    &--bottom {
        margin-bottom: 3rem;
    }
}

.mr-4 {
    margin: 4rem;

    &--left {
        margin-left: 4rem;
    }

    &--right {
        margin-right: 4rem;
    }

    &--top {
        margin-top: 4rem;
    }

    &--bottom {
        margin-bottom: 4rem;
    }
}

.mr-5 {
    margin: 5rem;

    &--left {
        margin-left: 5rem;
    }

    &--right {
        margin-right: 5rem;
    }

    &--top {
        margin-top: 5rem;
    }

    &--bottom {
        margin-bottom: 5rem;
    }
}

.mr-6 {
    margin: 6rem;

    &--left {
        margin-left: 6rem;
    }

    &--right {
        margin-right: 6rem;
    }

    &--top {
        margin-top: 6rem;
    }

    &--bottom {
        margin-bottom: 6rem;
    }
}

.mr-7 {
    margin: 7rem;

    &--left {
        margin-left: 7rem;
    }

    &--right {
        margin-right: 7rem;
    }

    &--top {
        margin-top: 7rem;
    }

    &--bottom {
        margin-bottom: 7rem;
    }
}

.mr-8 {
    margin: 8rem;

    &--left {
        margin-left: 8rem;
    }

    &--right {
        margin-right: 8rem;
    }

    &--top {
        margin-top: 8rem;
    }

    &--bottom {
        margin-bottom: 8rem;
    }
}

.mr-9 {
    margin: 9rem;

    &--left {
        margin-left: 9rem;
    }

    &--right {
        margin-right: 9rem;
    }

    &--top {
        margin-top: 9rem;
    }

    &--bottom {
        margin-bottom: 9rem;
    }
}

.mr-10 {
    margin: 10rem;

    &--left {
        margin-left: 10rem;
    }

    &--right {
        margin-right: 10rem;
    }

    &--top {
        margin-top: 10rem;
    }

    &--bottom {
        margin-bottom: 10rem;
    }
}

.mr-auto {
    margin: auto;

    &--left {
        margin-left: auto;
    }

    &--right {
        margin-right: auto;
    }

    &--top {
        margin-top: auto;
    }

    &--bottom {
        margin-bottom: auto;
    }
}