/* Navbar  */
nav.navbar-light {
    padding: 1rem;
    background-color: rgb(247, 247, 247);
    
    .navbar-title {
        font-size: 1.4rem;
        float: left;
        margin-top: -0.28rem;
    }

    a {
        color: rgb(59, 59, 59) !important;

        &:hover {
            cursor: pointer;
        }
    }

    .collapse-button {
        display: none;
    }

    li.nav-object {
        float: left;
        margin-left: 1rem;
        margin-top: -0.95rem;
        font-size: 0.95rem;
    }

    ul {
        list-style-type: none;
    }

    .dropdown-content {
        display: none;
    }

    .dropdown {
        font-size: 0.88rem;
        cursor: pointer; 
        border: none;
        background-color: inherit;
        margin-top: 0.2rem;
        color: rgb(59, 59, 59);

        .dropdown-arrow-down {
            color: rgb(59, 59, 59);
            border: solid black;
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: 2px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            margin-left: 0.2rem;
            margin-bottom: 0.2rem;
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        border: 1px solid rgb(230, 230, 230);
        border-radius: 5px;
        min-width: 12rem;
        margin-top: 0.5rem;

        .dropdown-line {
            border: 0.5px solid rgb(221, 221, 221);
        }

        a {
            padding: 0.7rem;
            display: block;
    
            &:hover {
                background-color: rgb(247, 247, 247);
            }
        }
      }

      .toggle {
        display: block;
      }
}

@media (max-width: 767px) {
    .collapsed-nav {
        display: none;
    }

    nav.navbar-light button.collapse-button {
        display: block;
        float: right;
        border: none;
        outline: none;
        padding-top: 0.2rem;
        border: 0.5px solid rgb(206, 206, 206);
        background-color: transparent;
        border-radius: 5px;
        margin-top: -0.5rem;
        width: 5rem;
    }

    .show-nav {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-left: -3.5rem;
        margin-bottom: -1rem;

        ul {
            display: inline;
        }

        li {
            display: block;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            width: 100%;
            border-radius: 5px;
            color: rgb(59, 59, 59);
            margin-top: 0.10rem !important;
        }
    }

    i.nav-icon-black {
        content: url("https://cssextended.com/nav-icon.svg");
        width: 25px;
        height: 25px;
    }
}

nav.navbar-dark {
    @extend .navbar-light;
    background-color: rgb(31, 31, 31);
    color: rgb(241, 241, 241);

    a, .dropdown-arrow-down, li.dropdown, li {
        color: rgb(241, 241, 241) !important;
        border-color: rgb(241, 241, 241) !important;
    }

    i.nav-icon-white {
        content: url("https://cssextended.com/nav-icon-white.png");
        width: 25px;
        height: 25px;
    }

    .dropdown-content {
        background-color: rgb(31, 31, 31);
        border: 1px solid rgb(17, 17, 17);

        .dropdown-line {
            border: 0.5px solid rgb(17, 17, 17);
        }

        a {
            padding: 0.7rem;
            display: block;
    
            &:hover {
                background-color: rgb(8, 8, 8);
            }
        }
    }   
}