/* Padding */
.pd-1 {
    padding: 1rem;

    &--left {
        padding-left: 1rem;
    }

    &--right {
        padding-right: 1rem;
    }

    &--top {
        padding-top: 1rem;
    }

    &--bottom {
        padding-bottom: 1rem;
    }
}

.pd-2 {
    padding: 2rem;

    &--left {
        padding-left: 2rem;
    }

    &--right {
        padding-right: 2rem;
    }

    &--top {
        padding-top: 2rem;
    }

    &--bottom {
        padding-bottom: 2rem;
    }
}

.pd-3 {
    padding: 3rem;

    &--left {
        padding-left: 3rem;
    }

    &--right {
        padding-right: 3rem;
    }

    &--top {
        padding-top: 3rem;
    }

    &--bottom {
        padding-bottom: 3rem;
    }
}

.pd-4 {
    padding: 4rem;

    &--left {
        padding-left: 4rem;
    }

    &--right {
        padding-right: 4rem;
    }

    &--top {
        padding-top: 4rem;
    }

    &--bottom {
        padding-bottom: 4rem;
    }
}

.pd-5 {
    padding: 5rem;

    &--left {
        padding-left: 5rem;
    }

    &--right {
        padding-right: 5rem;
    }

    &--top {
        padding-top: 5rem;
    }

    &--bottom {
        padding-bottom: 5rem;
    }
}

.pd-6 {
    padding: 6rem;

    &--left {
        padding-left: 6rem;
    }

    &--right {
        padding-right: 6rem;
    }

    &--top {
        padding-top: 6rem;
    }

    &--bottom {
        padding-bottom: 6rem;
    }
}

.pd-7 {
    padding: 7rem;

    &--left {
        padding-left: 7rem;
    }

    &--right {
        padding-right: 7rem;
    }

    &--top {
        padding-top: 7rem;
    }

    &--bottom {
        padding-bottom: 7rem;
    }
}

.pd-8 {
    padding: 8rem;

    &--left {
        padding-left: 8rem;
    }

    &--right {
        padding-right: 8rem;
    }

    &--top {
        padding-top: 8rem;
    }

    &--bottom {
        padding-bottom: 8rem;
    }
}

.pd-9 {
    padding: 9rem;

    &--left {
        padding-left: 9rem;
    }

    &--right {
        padding-right: 9rem;
    }

    &--top {
        padding-top: 9rem;
    }

    &--bottom {
        padding-bottom: 9rem;
    }
}

.pd-10 {
    padding: 10rem;

    &--left {
        padding-left: 10rem;
    }

    &--right {
        padding-right: 10rem;
    }

    &--top {
        padding-top: 10rem;
    }

    &--bottom {
        padding-bottom: 10rem;
    }
}