/* General */
body {
  font-family: "Roboto", "sans-serif";
  color: #1b1b1b;
}

a {
  text-decoration: none;
  color: #527ffc;
}

a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #6b6bf3;
}

/* Grid System */
.row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
          flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.row.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}

.row.natural-height {
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
}

.row.flex-column {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
  padding: 1rem;
}

.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
}

.first {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
          order: -1;
}

.last {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
          order: 1;
}

.align-start {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.align-end {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.align-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.align-baseline {
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.align-stretch {
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.col-xs {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
  padding: 1rem;
}

.col-xs-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 8.3333333333%;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 16.6666666667%;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 33.3333333333%;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 41.6666666667%;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 58.3333333333%;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 66.6666666667%;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 83.3333333333%;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 91.6666666667%;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.row.center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.row.end-xs {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.row.top-xs {
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
}

.row.middle-xs {
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.row.bottom-xs {
  -ms-flex-align: end;
  -webkit-box-align: end;
          align-items: flex-end;
}

.row.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.row.between-xs {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.first-xs {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
          order: -1;
}

.last-xs {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
          order: 1;
}

@media only screen and (min-width: 41rem) {
  .col-sm {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }
  .col-sm-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 12);
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
    padding: 1rem;
  }
  .col-sm-offset-1 {
    margin-left: calc(100% / 12);
  }
  .col-sm-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 6);
    flex-basis: calc(100% / 6);
    max-width: calc(100% / 6);
    padding: 1rem;
  }
  .col-sm-offset-2 {
    margin-left: calc(100% / 6);
  }
  .col-sm-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 4);
    flex-basis: calc(100% / 4);
    max-width: calc(100% / 4);
    padding: 1rem;
  }
  .col-sm-offset-3 {
    margin-left: calc(100% / 4);
  }
  .col-sm-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 3);
    flex-basis: calc(100% / 3);
    max-width: calc(100% / 3);
    padding: 1rem;
  }
  .col-sm-offset-4 {
    margin-left: calc(100% / 3);
  }
  .col-sm-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 2.4);
    flex-basis: calc(100% / 2.4);
    max-width: calc(100% / 2.4);
    padding: 1rem;
  }
  .col-sm-offset-5 {
    margin-left: calc(100% / 2.4);
  }
  .col-sm-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 2);
    flex-basis: calc(100% / 2);
    max-width: calc(100% / 2);
    padding: 1rem;
  }
  .col-sm-offset-6 {
    margin-left: calc(100% / 2);
  }
  .col-sm-7 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.71428571429);
    flex-basis: calc(100% / 1.71428571429);
    max-width: calc(100% / 1.71428571429);
    padding: 1rem;
  }
  .col-sm-offset-7 {
    margin-left: calc(100% / 1.71428571429);
  }
  .col-sm-8 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.5);
    flex-basis: calc(100% / 1.5);
    max-width: calc(100% / 1.5);
    padding: 1rem;
  }
  .col-sm-offset-8 {
    margin-left: calc(100% / 1.5);
  }
  .col-sm-9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.33333333333);
    flex-basis: calc(100% / 1.33333333333);
    max-width: calc(100% / 1.33333333333);
    padding: 1rem;
  }
  .col-sm-offset-9 {
    margin-left: calc(100% / 1.33333333333);
  }
  .col-sm-10 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.2);
    flex-basis: calc(100% / 1.2);
    max-width: calc(100% / 1.2);
    padding: 1rem;
  }
  .col-sm-offset-10 {
    margin-left: calc(100% / 1.2);
  }
  .col-sm-11 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.090909091);
    flex-basis: calc(100% / 1.090909091);
    max-width: calc(100% / 1.090909091);
    padding: 1rem;
  }
  .col-sm-offset-11 {
    margin-left: calc(100% / 1.090909091);
  }
  .col-sm-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1);
    flex-basis: calc(100% / 1);
    max-width: calc(100% / 1);
    padding: 1rem;
  }
  .col-sm-offset-12 {
    margin-left: calc(100% / 1);
  }
  .row.start-sm {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
            justify-content: flex-start;
  }
  .row.center-sm {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .row.end-sm {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
            justify-content: flex-end;
  }
  .row.top-sm {
    -ms-flex-align: start;
    -webkit-box-align: start;
            align-items: flex-start;
  }
  .row.middle-sm {
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
  }
  .row.bottom-sm {
    -ms-flex-align: end;
    -webkit-box-align: end;
            align-items: flex-end;
  }
  .row.around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .row.between-sm {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  .first-sm {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .last-sm {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
}

@media only screen and (min-width: 65rem) {
  .col-md {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }
  .col-md-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 12);
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
    padding: 1rem;
  }
  .col-md-offset-1 {
    margin-left: calc(100% / 12);
  }
  .col-md-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 6);
    flex-basis: calc(100% / 6);
    max-width: calc(100% / 6);
    padding: 1rem;
  }
  .col-md-offset-2 {
    margin-left: calc(100% / 6);
  }
  .col-md-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 4);
    flex-basis: calc(100% / 4);
    max-width: calc(100% / 4);
    padding: 1rem;
  }
  .col-md-offset-3 {
    margin-left: calc(100% / 4);
  }
  .col-md-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 3);
    flex-basis: calc(100% / 3);
    max-width: calc(100% / 3);
    padding: 1rem;
  }
  .col-md-offset-4 {
    margin-left: calc(100% / 3);
  }
  .col-md-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 2.4);
    flex-basis: calc(100% / 2.4);
    max-width: calc(100% / 2.4);
    padding: 1rem;
  }
  .col-md-offset-5 {
    margin-left: calc(100% / 2.4);
  }
  .col-md-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 2);
    flex-basis: calc(100% / 2);
    max-width: calc(100% / 2);
    padding: 1rem;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-7 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.71428571429);
    flex-basis: calc(100% / 1.71428571429);
    max-width: calc(100% / 1.71428571429);
    padding: 1rem;
  }
  .col-md-offset-7 {
    margin-left: calc(100% / 1.71428571429);
  }
  .col-md-8 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.5);
    flex-basis: calc(100% / 1.5);
    max-width: calc(100% / 1.5);
    padding: 1rem;
  }
  .col-md-offset-8 {
    margin-left: calc(100% / 1.5);
  }
  .col-md-9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.33333333333);
    flex-basis: calc(100% / 1.33333333333);
    max-width: calc(100% / 1.33333333333);
    padding: 1rem;
  }
  .col-md-offset-9 {
    margin-left: calc(100% / 1.33333333333);
  }
  .col-md-10 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.2);
    flex-basis: calc(100% / 1.2);
    max-width: calc(100% / 1.2);
    padding: 1rem;
  }
  .col-md-offset-10 {
    margin-left: calc(100% / 1.2);
  }
  .col-md-11 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.090909091);
    flex-basis: calc(100% / 1.090909091);
    max-width: calc(100% / 1.090909091);
    padding: 1rem;
  }
  .col-md-offset-11 {
    margin-left: calc(100% / 1.090909091);
  }
  .col-md-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1);
    flex-basis: calc(100% / 1);
    max-width: calc(100% / 1);
    padding: 1rem;
  }
  .col-md-offset-12 {
    margin-left: calc(100% / 1);
  }
  .row.start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
            justify-content: flex-start;
  }
  .row.center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .row.end-md {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
            justify-content: flex-end;
  }
  .row.top-md {
    -ms-flex-align: start;
    -webkit-box-align: start;
            align-items: flex-start;
  }
  .row.middle-md {
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
  }
  .row.bottom-md {
    -ms-flex-align: end;
    -webkit-box-align: end;
            align-items: flex-end;
  }
  .row.around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .row.between-md {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  .first-md {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .last-md {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
}

@media only screen and (min-width: 91rem) {
  .col-lg {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }
  .col-lg-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 12);
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
    padding: 1rem;
  }
  .col-lg-offset-1 {
    margin-left: calc(100% / 12);
  }
  .col-lg-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 6);
    flex-basis: calc(100% / 6);
    max-width: calc(100% / 6);
    padding: 1rem;
  }
  .col-lg-offset-2 {
    margin-left: calc(100% / 6);
  }
  .col-lg-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 4);
    flex-basis: calc(100% / 4);
    max-width: calc(100% / 4);
    padding: 1rem;
  }
  .col-lg-offset-3 {
    margin-left: calc(100% / 4);
  }
  .col-lg-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 3);
    flex-basis: calc(100% / 3);
    max-width: calc(100% / 3);
    padding: 1rem;
  }
  .col-lg-offset-4 {
    margin-left: calc(100% / 3);
  }
  .col-lg-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 2.4);
    flex-basis: calc(100% / 2.4);
    max-width: calc(100% / 2.4);
    padding: 1rem;
  }
  .col-lg-offset-5 {
    margin-left: calc(100% / 2.4);
  }
  .col-lg-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 2);
    flex-basis: calc(100% / 2);
    max-width: calc(100% / 2);
    padding: 1rem;
  }
  .col-lg-offset-6 {
    margin-left: calc(100% / 2);
  }
  .col-lg-7 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.71428571429);
    flex-basis: calc(100% / 1.71428571429);
    max-width: calc(100% / 1.71428571429);
    padding: 1rem;
  }
  .col-lg-offset-7 {
    margin-left: calc(100% / 1.71428571429);
  }
  .col-lg-8 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.5);
    flex-basis: calc(100% / 1.5);
    max-width: calc(100% / 1.5);
    padding: 1rem;
  }
  .col-lg-offset-8 {
    margin-left: calc(100% / 1.5);
  }
  .col-lg-9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.33333333333);
    flex-basis: calc(100% / 1.33333333333);
    max-width: calc(100% / 1.33333333333);
    padding: 1rem;
  }
  .col-lg-offset-9 {
    margin-left: calc(100% / 1.33333333333);
  }
  .col-lg-10 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.2);
    flex-basis: calc(100% / 1.2);
    max-width: calc(100% / 1.2);
    padding: 1rem;
  }
  .col-lg-offset-10 {
    margin-left: calc(100% / 1.2);
  }
  .col-lg-11 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.090909091);
    flex-basis: calc(100% / 1.090909091);
    max-width: calc(100% / 1.090909091);
    padding: 1rem;
  }
  .col-lg-offset-11 {
    margin-left: calc(100% / 1.090909091);
  }
  .col-lg-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1);
    flex-basis: calc(100% / 1);
    max-width: calc(100% / 1);
    padding: 1rem;
  }
  .col-lg-offset-12 {
    margin-left: calc(100% / 1);
  }
  .row.start-lg {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
            justify-content: flex-start;
  }
  .row.center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .row.end-lg {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
            justify-content: flex-end;
  }
  .row.top-lg {
    -ms-flex-align: start;
    -webkit-box-align: start;
            align-items: flex-start;
  }
  .row.middle-lg {
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
  }
  .row.bottom-lg {
    -ms-flex-align: end;
    -webkit-box-align: end;
            align-items: flex-end;
  }
  .row.around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .row.between-lg {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  .first-lg {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .last-lg {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
}

@media only screen and (min-width: 121rem) {
  .col-xl {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem;
  }
  .col-xl-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 12);
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
    padding: 1rem;
  }
  .col-xl-offset-1 {
    margin-left: calc(100% / 12);
  }
  .col-xl-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 6);
    flex-basis: calc(100% / 6);
    max-width: calc(100% / 6);
    padding: 1rem;
  }
  .col-xl-offset-2 {
    margin-left: calc(100% / 6);
  }
  .col-xl-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 4);
    flex-basis: calc(100% / 4);
    max-width: calc(100% / 4);
    padding: 1rem;
  }
  .col-xl-offset-3 {
    margin-left: calc(100% / 4);
  }
  .col-xl-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 3);
    flex-basis: calc(100% / 3);
    max-width: calc(100% / 3);
    padding: 1rem;
  }
  .col-xl-offset-4 {
    margin-left: calc(100% / 3);
  }
  .col-xl-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 2.4);
    flex-basis: calc(100% / 2.4);
    max-width: calc(100% / 2.4);
    padding: 1rem;
  }
  .col-xl-offset-5 {
    margin-left: calc(100% / 2.4);
  }
  .col-xl-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 2);
    flex-basis: calc(100% / 2);
    max-width: calc(100% / 2);
    padding: 1rem;
  }
  .col-xl-offset-6 {
    margin-left: calc(100% / 2);
  }
  .col-xl-7 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.71428571429);
    flex-basis: calc(100% / 1.71428571429);
    max-width: calc(100% / 1.71428571429);
    padding: 1rem;
  }
  .col-xl-offset-7 {
    margin-left: calc(100% / 1.71428571429);
  }
  .col-xl-8 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.5);
    flex-basis: calc(100% / 1.5);
    max-width: calc(100% / 1.5);
    padding: 1rem;
  }
  .col-xl-offset-8 {
    margin-left: calc(100% / 1.5);
  }
  .col-xl-9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.33333333333);
    flex-basis: calc(100% / 1.33333333333);
    max-width: calc(100% / 1.33333333333);
    padding: 1rem;
  }
  .col-xl-offset-9 {
    margin-left: calc(100% / 1.33333333333);
  }
  .col-xl-10 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.2);
    flex-basis: calc(100% / 1.2);
    max-width: calc(100% / 1.2);
    padding: 1rem;
  }
  .col-xl-offset-10 {
    margin-left: calc(100% / 1.2);
  }
  .col-xl-11 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1.090909091);
    flex-basis: calc(100% / 1.090909091);
    max-width: calc(100% / 1.090909091);
    padding: 1rem;
  }
  .col-xl-offset-11 {
    margin-left: calc(100% / 1.090909091);
  }
  .col-xl-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: calc(100% / 1);
    flex-basis: calc(100% / 1);
    max-width: calc(100% / 1);
    padding: 1rem;
  }
  .col-xl-offset-12 {
    margin-left: calc(100% / 1);
  }
  .row.start-xl {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
            justify-content: flex-start;
  }
  .row.center-xl {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .row.end-xl {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
            justify-content: flex-end;
  }
  .row.top-xl {
    -ms-flex-align: start;
    -webkit-box-align: start;
            align-items: flex-start;
  }
  .row.middle-xl {
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
  }
  .row.bottom-xl {
    -ms-flex-align: end;
    -webkit-box-align: end;
            align-items: flex-end;
  }
  .row.around-xl {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .row.between-xl {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  .first-xl {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .last-xl {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
}

.col-gutter-lr {
  padding: 0 1rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 40rem) {
  .show-xs-only {
    display: block !important;
  }
  .row.show-xs-only {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-xs-only {
    display: none !important;
  }
}

@media only screen and (min-width: 41rem) {
  .show-sm {
    display: block !important;
  }
  .row.show-sm {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-sm {
    display: none !important;
  }
}

@media only screen and (min-width: 41rem) and (max-width: 64rem) {
  .show-sm-only {
    display: block !important;
  }
  .row.show-sm-only {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-sm-only {
    display: none !important;
  }
}

@media only screen and (min-width: 65rem) {
  .show-md {
    display: block !important;
  }
  .row.show-md {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-md {
    display: none !important;
  }
}

@media only screen and (min-width: 65rem) and (max-width: 90rem) {
  .show-md-only {
    display: block !important;
  }
  .row.show-md-only {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-md-only {
    display: none !important;
  }
}

@media only screen and (min-width: 91rem) {
  .show-lg {
    display: block !important;
  }
  .row.show-lg {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-lg {
    display: none !important;
  }
}

@media only screen and (min-width: 91rem) and (max-width: 120rem) {
  .show-lg-only {
    display: block !important;
  }
  .row.show-lg-only {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-lg-only {
    display: none !important;
  }
}

@media only screen and (min-width: 121rem) {
  .show-xl {
    display: block !important;
  }
  .row.show-xl {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-xl {
    display: none !important;
  }
}

/* Text Colors */
.text-white {
  color: #fafafa !important;
}

.text-yellow {
  color: #c4c436 !important;
}

.text-orange {
  color: #eca116 !important;
}

.text-red {
  color: #ec5d5d !important;
}

.text-magenta {
  color: #ee25ee !important;
}

.text-purple {
  color: purple !important;
}

.text-cyan {
  color: #21f5f5 !important;
}

.text-green {
  color: #4caf50 !important;
}

.text-darkgreen {
  color: #089408 !important;
}

.text-brown {
  color: #cc5d0d !important;
}

.text-grey {
  color: gray !important;
}

.text-black {
  color: #272727 !important;
}

/* Background Colors */
.bg-white {
  background-color: #fafafa !important;
}

.bg-yellow {
  background-color: #c4c436 !important;
}

.bg-orange {
  background-color: #eca116 !important;
}

.bg-red {
  background-color: #ec5d5d !important;
}

.bg-magenta {
  background-color: #ee25ee !important;
}

.bg-purple {
  background-color: purple !important;
}

.bg-cyan {
  background-color: #21f5f5 !important;
}

.bg-green {
  background-color: #4caf50 !important;
}

.bg-darkgreen {
  background-color: #089408 !important;
}

.bg-brown {
  background-color: #cc5d0d !important;
}

.bg-grey {
  background-color: gray !important;
}

.bg-black {
  background-color: #272727 !important;
}

/* Alerts */
.alert, .alert--normal, .alert--warning, .alert--success, .alert--info, .alert--grey, .alert--dark {
  position: relative;
  border: 1px solid transparent;
  padding: 0.9rem;
  margin-bottom: 1rem;
  padding-left: 10px;
  border-radius: 5px;
}

.alert--normal {
  background-color: #80ade9;
  color: #004396;
}

.alert--warning {
  background-color: #f3877d;
  color: #b10f00;
}

.alert--success {
  background-color: #22ee74;
  color: #007730;
}

.alert--info {
  background-color: #f7cc67;
  color: #a87600;
}

.alert--grey {
  background-color: #9b9b9b;
  color: #3d3d3d;
}

.alert--dark {
  background-color: #272727;
  color: #fafafa;
}

.alert-title {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
}

/* Text Sizes */
h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.5em;
}

/* Borders */
.border {
  border: 1px solid transparent;
}

.border--white {
  border-color: #fafafa !important;
}

.border--yellow {
  border-color: #c4c436 !important;
}

.border--orange {
  border-color: #eca116 !important;
}

.border--red {
  border-color: #ec5d5d !important;
}

.border--magenta {
  border-color: #ee25ee !important;
}

.border--purple {
  border-color: purple !important;
}

.border--cyan {
  border-color: #21f5f5 !important;
}

.border--green {
  border-color: #4caf50 !important;
}

.border--darkgreen {
  border-color: #089408 !important;
}

.border--brown {
  border-color: #cc5d0d !important;
}

.border--grey {
  border-color: gray !important;
}

.border--black {
  border-color: #272727 !important;
}

/* Buttons */
.button, .button--blue, .button--blue--outline, .button--red, .button--red--outline, .button--green, .button--green--outline, .button--yellow, .button--yellow--outline, .button--grey, .button--grey--outline, .button--black, .button--black--outline {
  display: block !important;
  padding: 1em;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.button--blue {
  background-color: #7777f5;
  color: #fafafa;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button--blue:hover {
  background-color: #5555ca;
}

.button--blue--outline {
  background-color: transparent !important;
  border: 2px solid #7777f5 !important;
  color: #7777f5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 600;
}

.button--blue--outline:hover {
  background-color: #5555ca !important;
  color: #fafafa;
  font-weight: normal;
  font-weight: 600;
}

.button--red {
  background-color: #ec5d5d;
  color: #fafafa;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button--red:hover {
  background-color: #b84747;
}

.button--red--outline {
  background-color: transparent !important;
  border: 2px solid #ec5d5d !important;
  color: #ec5d5d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 600;
}

.button--red--outline:hover {
  background-color: #b84747 !important;
  color: #fafafa;
  font-weight: normal;
  font-weight: 600;
}

.button--green {
  background-color: #4caf50;
  color: #fafafa;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button--green:hover {
  background-color: #239723;
}

.button--green--outline {
  background-color: transparent !important;
  border: 2px solid #4caf50 !important;
  color: #4caf50;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 600;
}

.button--green--outline:hover {
  background-color: #239723 !important;
  color: #fafafa;
  font-weight: normal;
  font-weight: 600;
}

.button--yellow {
  background-color: #c4c436;
  color: #fafafa;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button--yellow:hover {
  background-color: #a7a724;
}

.button--yellow--outline {
  background-color: transparent !important;
  border: 2px solid #c4c436 !important;
  color: #c4c436;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 600;
}

.button--yellow--outline:hover {
  background-color: #a7a724 !important;
  color: #fafafa;
  font-weight: normal;
  font-weight: 600;
}

.button--grey {
  background-color: gray;
  color: #fafafa;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button--grey:hover {
  background-color: #5e5e5e;
}

.button--grey--outline {
  background-color: transparent !important;
  border: 2px solid gray !important;
  color: gray;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 600;
}

.button--grey--outline:hover {
  background-color: #5e5e5e !important;
  color: #fafafa;
  font-weight: normal;
  font-weight: 600;
}

.button--black {
  background-color: #272727;
  color: #fafafa;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button--black:hover {
  background-color: #1d1d1d;
}

.button--black--outline {
  background-color: transparent !important;
  border: 2px solid #272727 !important;
  color: #272727;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 600;
}

.button--black--outline:hover {
  background-color: #1d1d1d !important;
  color: #fafafa;
  font-weight: normal;
  font-weight: 600;
}

/* Inputs & Form */
.form-control-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
}

.input-before-group, .input-after-group, .textarea-after-group, .textarea-before-group {
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0.48rem;
  border: 1px solid #b4b4b4;
  white-space: nowrap;
  height: 26px;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-after-group, .textarea-after-group {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
  border-right: 1px solid #b4b4b4;
}

.textarea-before-group {
  height: 38px;
  padding: 0.51rem;
}

.textarea-after-group {
  height: 38px;
  padding: 0.51rem;
}

.csse-form {
  display: inline-block;
  width: 100%;
  padding: 0.7em;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  font-family: "Roboto", "sans-serif";
  font-size: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  color: #33373b;
  line-height: 1;
  margin-bottom: 1rem;
}

.csse-form:focus {
  -webkit-box-shadow: 0 0 10px #c1c1f3;
          box-shadow: 0 0 10px #c1c1f3;
  border: 1px solid #c1c1f3;
}

select {
  word-wrap: normal;
}

option {
  display: block;
  padding-bottom: 2px;
}

label {
  padding-bottom: 0.5rem;
  display: inline-block;
  font-size: 17px;
}

/* Breadcrumb */
nav.breadcrumb ul.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
  background-color: lightgray;
  list-style-type: none;
  padding: 15px;
  color: #1a78f1;
  font-size: 1em;
  font-weight: 600;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

nav.breadcrumb li.breadcrumb-object:after {
  content: '/';
  margin-left: 5px;
  margin-right: 5px;
  color: #4b4b4b;
}

nav.breadcrumb li.active:after {
  content: "";
}

/* Normalize.css made by Necolas (https://necolas.github.io/normalize.css/) */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Margin */
.mr-1 {
  margin: 1rem;
}

.mr-1--left {
  margin-left: 1rem;
}

.mr-1--right {
  margin-right: 1rem;
}

.mr-1--top {
  margin-top: 1rem;
}

.mr-1--bottom {
  margin-bottom: 1rem;
}

.mr-2 {
  margin: 2rem;
}

.mr-2--left {
  margin-left: 2rem;
}

.mr-2--right {
  margin-right: 2rem;
}

.mr-2--top {
  margin-top: 2rem;
}

.mr-2--bottom {
  margin-bottom: 2rem;
}

.mr-3 {
  margin: 3rem;
}

.mr-3--left {
  margin-left: 3rem;
}

.mr-3--right {
  margin-right: 3rem;
}

.mr-3--top {
  margin-top: 3rem;
}

.mr-3--bottom {
  margin-bottom: 3rem;
}

.mr-4 {
  margin: 4rem;
}

.mr-4--left {
  margin-left: 4rem;
}

.mr-4--right {
  margin-right: 4rem;
}

.mr-4--top {
  margin-top: 4rem;
}

.mr-4--bottom {
  margin-bottom: 4rem;
}

.mr-5 {
  margin: 5rem;
}

.mr-5--left {
  margin-left: 5rem;
}

.mr-5--right {
  margin-right: 5rem;
}

.mr-5--top {
  margin-top: 5rem;
}

.mr-5--bottom {
  margin-bottom: 5rem;
}

.mr-6 {
  margin: 6rem;
}

.mr-6--left {
  margin-left: 6rem;
}

.mr-6--right {
  margin-right: 6rem;
}

.mr-6--top {
  margin-top: 6rem;
}

.mr-6--bottom {
  margin-bottom: 6rem;
}

.mr-7 {
  margin: 7rem;
}

.mr-7--left {
  margin-left: 7rem;
}

.mr-7--right {
  margin-right: 7rem;
}

.mr-7--top {
  margin-top: 7rem;
}

.mr-7--bottom {
  margin-bottom: 7rem;
}

.mr-8 {
  margin: 8rem;
}

.mr-8--left {
  margin-left: 8rem;
}

.mr-8--right {
  margin-right: 8rem;
}

.mr-8--top {
  margin-top: 8rem;
}

.mr-8--bottom {
  margin-bottom: 8rem;
}

.mr-9 {
  margin: 9rem;
}

.mr-9--left {
  margin-left: 9rem;
}

.mr-9--right {
  margin-right: 9rem;
}

.mr-9--top {
  margin-top: 9rem;
}

.mr-9--bottom {
  margin-bottom: 9rem;
}

.mr-10 {
  margin: 10rem;
}

.mr-10--left {
  margin-left: 10rem;
}

.mr-10--right {
  margin-right: 10rem;
}

.mr-10--top {
  margin-top: 10rem;
}

.mr-10--bottom {
  margin-bottom: 10rem;
}

.mr-auto {
  margin: auto;
}

.mr-auto--left {
  margin-left: auto;
}

.mr-auto--right {
  margin-right: auto;
}

.mr-auto--top {
  margin-top: auto;
}

.mr-auto--bottom {
  margin-bottom: auto;
}

/* Padding */
.pd-1 {
  padding: 1rem;
}

.pd-1--left {
  padding-left: 1rem;
}

.pd-1--right {
  padding-right: 1rem;
}

.pd-1--top {
  padding-top: 1rem;
}

.pd-1--bottom {
  padding-bottom: 1rem;
}

.pd-2 {
  padding: 2rem;
}

.pd-2--left {
  padding-left: 2rem;
}

.pd-2--right {
  padding-right: 2rem;
}

.pd-2--top {
  padding-top: 2rem;
}

.pd-2--bottom {
  padding-bottom: 2rem;
}

.pd-3 {
  padding: 3rem;
}

.pd-3--left {
  padding-left: 3rem;
}

.pd-3--right {
  padding-right: 3rem;
}

.pd-3--top {
  padding-top: 3rem;
}

.pd-3--bottom {
  padding-bottom: 3rem;
}

.pd-4 {
  padding: 4rem;
}

.pd-4--left {
  padding-left: 4rem;
}

.pd-4--right {
  padding-right: 4rem;
}

.pd-4--top {
  padding-top: 4rem;
}

.pd-4--bottom {
  padding-bottom: 4rem;
}

.pd-5 {
  padding: 5rem;
}

.pd-5--left {
  padding-left: 5rem;
}

.pd-5--right {
  padding-right: 5rem;
}

.pd-5--top {
  padding-top: 5rem;
}

.pd-5--bottom {
  padding-bottom: 5rem;
}

.pd-6 {
  padding: 6rem;
}

.pd-6--left {
  padding-left: 6rem;
}

.pd-6--right {
  padding-right: 6rem;
}

.pd-6--top {
  padding-top: 6rem;
}

.pd-6--bottom {
  padding-bottom: 6rem;
}

.pd-7 {
  padding: 7rem;
}

.pd-7--left {
  padding-left: 7rem;
}

.pd-7--right {
  padding-right: 7rem;
}

.pd-7--top {
  padding-top: 7rem;
}

.pd-7--bottom {
  padding-bottom: 7rem;
}

.pd-8 {
  padding: 8rem;
}

.pd-8--left {
  padding-left: 8rem;
}

.pd-8--right {
  padding-right: 8rem;
}

.pd-8--top {
  padding-top: 8rem;
}

.pd-8--bottom {
  padding-bottom: 8rem;
}

.pd-9 {
  padding: 9rem;
}

.pd-9--left {
  padding-left: 9rem;
}

.pd-9--right {
  padding-right: 9rem;
}

.pd-9--top {
  padding-top: 9rem;
}

.pd-9--bottom {
  padding-bottom: 9rem;
}

.pd-10 {
  padding: 10rem;
}

.pd-10--left {
  padding-left: 10rem;
}

.pd-10--right {
  padding-right: 10rem;
}

.pd-10--top {
  padding-top: 10rem;
}

.pd-10--bottom {
  padding-bottom: 10rem;
}

/* Float */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

/* Sizing */
.width-0 {
  width: 0% !important;
}

.width-10 {
  width: 10% !important;
}

.width-20 {
  width: 20% !important;
}

.width-30 {
  width: 30% !important;
}

.width-40 {
  width: 40% !important;
}

.width-50 {
  width: 50% !important;
}

.width-60 {
  width: 60% !important;
}

.width-70 {
  width: 70% !important;
}

.width-80 {
  width: 80% !important;
}

.width-90 {
  width: 90% !important;
}

.width-100 {
  width: 100% !important;
}

/* Text Align */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* Radius */
.radius-3 {
  border-radius: 3px;
}

.radius-5 {
  border-radius: 5px;
}

.radius-10 {
  border-radius: 10px;
}

.radius-15 {
  border-radius: 15px;
}

.radius-20 {
  border-radius: 20px;
}

/* Display */
.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-inline {
  display: inline;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display-table {
  display: table;
}

.display-table-row {
  display: table-row;
}

.display-table-cell {
  display: table-cell;
}

/* Navbar  */
nav.navbar-light, nav.navbar-dark {
  padding: 1rem;
  background-color: #f7f7f7;
}

nav.navbar-light .navbar-title, nav.navbar-dark .navbar-title {
  font-size: 1.4rem;
  float: left;
  margin-top: -0.28rem;
}

nav.navbar-light a, nav.navbar-dark a {
  color: #3b3b3b !important;
}

nav.navbar-light a:hover, nav.navbar-dark a:hover {
  cursor: pointer;
}

nav.navbar-light .collapse-button, nav.navbar-dark .collapse-button {
  display: none;
}

nav.navbar-light li.nav-object, nav.navbar-dark li.nav-object {
  float: left;
  margin-left: 1rem;
  margin-top: -0.95rem;
  font-size: 0.95rem;
}

nav.navbar-light ul, nav.navbar-dark ul {
  list-style-type: none;
}

nav.navbar-light .dropdown-content, nav.navbar-dark .dropdown-content {
  display: none;
}

nav.navbar-light .dropdown, nav.navbar-dark .dropdown {
  font-size: 0.88rem;
  cursor: pointer;
  border: none;
  background-color: inherit;
  margin-top: 0.2rem;
  color: #3b3b3b;
}

nav.navbar-light .dropdown .dropdown-arrow-down, nav.navbar-dark .dropdown .dropdown-arrow-down {
  color: #3b3b3b;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
}

nav.navbar-light .dropdown-content, nav.navbar-dark .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  min-width: 12rem;
  margin-top: 0.5rem;
}

nav.navbar-light .dropdown-content .dropdown-line, nav.navbar-dark .dropdown-content .dropdown-line {
  border: 0.5px solid #dddddd;
}

nav.navbar-light .dropdown-content a, nav.navbar-dark .dropdown-content a {
  padding: 0.7rem;
  display: block;
}

nav.navbar-light .dropdown-content a:hover, nav.navbar-dark .dropdown-content a:hover {
  background-color: #f7f7f7;
}

nav.navbar-light .toggle, nav.navbar-dark .toggle {
  display: block;
}

@media (max-width: 767px) {
  .collapsed-nav {
    display: none;
  }
  nav.navbar-light button.collapse-button, nav.navbar-dark button.collapse-button {
    display: block;
    float: right;
    border: none;
    outline: none;
    padding-top: 0.2rem;
    border: 0.5px solid #cecece;
    background-color: transparent;
    border-radius: 5px;
    margin-top: -0.5rem;
    width: 5rem;
  }
  .show-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: 100%;
    margin-left: -3.5rem;
    margin-bottom: -1rem;
  }
  .show-nav ul {
    display: inline;
  }
  .show-nav li {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    border-radius: 5px;
    color: #3b3b3b;
    margin-top: 0.10rem !important;
  }
  i.nav-icon-black {
    content: url("https://cssextended.com/nav-icon.svg");
    width: 25px;
    height: 25px;
  }
}

nav.navbar-dark {
  background-color: #1f1f1f;
  color: #f1f1f1;
}

nav.navbar-dark a, nav.navbar-dark .dropdown-arrow-down, nav.navbar-dark li.dropdown, nav.navbar-dark li {
  color: #f1f1f1 !important;
  border-color: #f1f1f1 !important;
}

nav.navbar-dark i.nav-icon-white {
  content: url("https://cssextended.com/nav-icon-white.png");
  width: 25px;
  height: 25px;
}

nav.navbar-dark .dropdown-content {
  background-color: #1f1f1f;
  border: 1px solid #111111;
}

nav.navbar-dark .dropdown-content .dropdown-line {
  border: 0.5px solid #111111;
}

nav.navbar-dark .dropdown-content a {
  padding: 0.7rem;
  display: block;
}

nav.navbar-dark .dropdown-content a:hover {
  background-color: #080808;
}

/* Lists */
ul.list-light, ul.list-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  font-size: 1rem;
  padding-left: 0;
  color: #2b2b2b;
  background-color: #fff;
}

ul.list-light .active, ul.list-dark .active {
  background-color: #e4e4e4 !important;
  cursor: auto !important;
}

ul.list-light li.list-object, ul.list-dark li.list-object, ul.list-light li.list-object-action, ul.list-dark li.list-object-action {
  border: 1px solid #c7c7c7;
  display: block;
  padding: 1rem;
  margin-bottom: -1px;
}

ul.list-light li.list-object:last-child, ul.list-dark li.list-object:last-child, ul.list-light li.list-object-action:last-child, ul.list-dark li.list-object-action:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

ul.list-light li.list-object:first-child, ul.list-dark li.list-object:first-child, ul.list-light li.list-object-action:first-child, ul.list-dark li.list-object-action:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

ul.list-light li.list-object-action, ul.list-dark li.list-object-action {
  cursor: pointer;
}

ul.list-light li.list-object-action:hover, ul.list-dark li.list-object-action:hover {
  background-color: #f1f0f0;
}

ul.list-dark {
  color: #fff;
  background-color: #161616;
  border-radius: 5px;
}

ul.list-dark .active {
  background-color: #0a0a0a !important;
  cursor: auto !important;
}

ul.list-dark li.list-object, ul.list-dark li.list-object-action {
  border: 1px solid #0f0f0f;
}

ul.list-dark li.list-object:last-child, ul.list-dark li.list-object-action:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

ul.list-dark li.list-object:first-child, ul.list-dark li.list-object-action:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

ul.list-dark li.list-object-action:hover {
  background-color: #0a0a0a;
}
/*# sourceMappingURL=main.css.map */